@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/*RESET START*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html, body{
    height: 100%;
}
body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*한국어 폰트 깨짐 방지*/
p, a, h1, h2, h3, h4, h5, h6 {
    transform: skew(-0.1deg);
}

/*RESET END*/


/*PC & Mobile Common*/

body {
    font-family: 'Noto Sans KR', sans-serif;
    overflow-y : scroll;
}

#root{
    position: relative;
}

section {
    width: 1130px;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px 0px 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: #1565C0;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    height: 70px;
}

.header-logo{
    display : inline-block;
    width : 153px;
    height : 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../images/logo.png");
}

.header-link {
    color: #ffffff;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

.header-link:nth-of-type(1):after {
    margin-left: 32px;
    margin-right: 32px;
    display: inline-block;
    content: "|"
}

main {
    margin: 70px auto 48px auto;
}

.filter-zone {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;

}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropbtn_icon{
    display : inline-block;
    position : relative;
    width : 10px;
    height : 6px;
    padding : 2px;
    margin-left : 12px;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0.5L5 5.5L10 0.5H0Z' fill='%23939FA5'/%3E%3C/svg%3E%0A");
}


.dropbtn {
    border: 1px solid #939FA5;
    border-radius: 4px;
    background-color: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
    color: #323D45;
    cursor: pointer;
    padding : 9px 19px 9px 12px;
    margin-right : 8px;
    text-align: left;
}


.dropbtn:hover{
    border : 1px solid #2196F3;
}
.dropbtn.selected{
    background: #1565C0;
    border: 1px solid #939FA5;
    color : white;
}
.dropbtn.selected > .dropbtn_icon{
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0.5L5 5.5L10 0.5H0Z' fill='white'/%3E%3C/svg%3E%0A");
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1; /*다른 요소들보다 앞에 배치*/
    font-weight: 500;
    font-size: 14px;
    background-color: #FFFFFF;
    border: 1px solid #939FA5;
    border-radius: 4px;
    width: 130px;
    margin-top : 4px;
    padding : 17px 12px 17px 12px;
}

.dropdown-content > p{
    margin-bottom : 8px;
}
.dropdown-content > p > input{
    margin-right : 10px;
}

.dropdown-content.selected{
    display : block;
}

.reset{
    margin-left : 24px;
    font-size: 12px;
    font-weight: normal;
    color : #2196F3;
    line-height : 16px;
    display : inline-flex;
    text-decoration: none;
}
.reset  .reset-icon{
    display : inline-block;
    width : 16px;
    height : 16px;
    margin-right : 12px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.645 2.35C12.195 0.9 10.205 0 7.995 0C3.575 0 0.00500488 3.58 0.00500488 8C0.00500488 12.42 3.575 16 7.995 16C11.725 16 14.835 13.45 15.725 10H13.645C12.825 12.33 10.605 14 7.995 14C4.685 14 1.995 11.31 1.995 8C1.995 4.69 4.685 2 7.995 2C9.655 2 11.135 2.69 12.215 3.78L8.995 7H15.995V0L13.645 2.35Z' fill='%232196F3'/%3E%3C/svg%3E%0A");
    animation: spinner 7s linear infinite;
    transform-origin: 50% 50%;
}

@keyframes spinner{
    100% {
        transform: rotate(360deg);
    }
}



.only-processing > span {
    font-size: 14px;
    color: #323D45;
}

.switch-button {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 30px;
}

.switch-button input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch {
    position: absolute;
    cursor: pointer;
    top: 3px;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    width: 34px;
    height: 14px;
    background-color: #C2C2C2;
    -webkit-transition: .4s;
    transition: .4s;
    margin-left : 10px;
}

.switch:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: -10px;
    bottom: -3px;
    background-color: #F5F5F5;
    -webkit-transition: .5s;
    transition: .4s;
    border-radius: 20px;
}

.switch-button input:checked + .switch {
    background-color: #BBDEFB;
}

.switch-button input:checked + .switch:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background: #2196F3;
}


.request-zone {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.request-zone article {
    width: 366px;
    height: 356px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 24px 16px 24px 16px;
    margin-bottom: 16px;
}
.request-zone article:not(.request-zone article:nth-of-type(3n)){
    margin-right : 16px;
}

.request-intro {
    padding-top: 40px;
    padding-bottom: 32px;
}

.request-intro > h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;

    margin-bottom: 10px;
}

.request-intro > p {
    font-size: 16px;
}


.request-main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 32px;
}

.request-main .request-title > h2 {
    color: #323D45;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 4px;
}

.request-main .request-title > .company-name {
    font-weight: 500;
    font-size: 14px;
    color: #323D45;
    margin-bottom: 24px;
}

.request-main .request-title > .finished-date {
    margin-bottom: 16px;
    color: #939FA5;
    font-size: 14px;
    font-weight: normal;
}

.request-processing {
    display: block;
    color: #FFA000;
    background: #FFFFFF;
    border: 1px solid #FFA000;
    box-sizing: border-box;
    border-radius: 12px;
    width: 50px;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}


.request-detail {
    width: 100%;
}

.request-detail > div {
    margin-bottom: 8px;
}

.request-detail > div > label {
    display: inline-block;
    width: 70px;
    min-width: 70px;
    min-height: 20px;
    font-weight: normal;
    font-size: 14px;
    text-align: left;
    margin-right: 32px;

}

.request-detail > div > span {
    text-align: left;
    font-weight: bold;
    font-size: 14px;
}


.request-btn-area {
    margin-top: 32px;
    margin-bottom: 24px;
}

.detail-btn {
    padding: 6px 12px;
    background: #2196F3;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    margin-right : 8px;
}

.chat-btn {
    padding: 6px 12px;
    background: #FFFFFF;
    border: 1px solid #2196F3;;
    box-sizing: border-box;
    border-radius: 4px;
    color: #2196F3;
}

.data-none{
    width : 100%;
    height : 100px;
    font-weight: normal;
    font-size: 14px;
    color: #939FA5;
    line-height: 100px;
    text-align: center;
    border: 1px solid #C2C2C2;
    box-sizing: border-box;
    border-radius: 4px;
}

/*sideBar*/
.toggleMenu {
    display: none;
}

.navWrap, .navWrap > div {
    display: none;
}

.company-icon{
    display : inline-block;
    margin-right : 8px;
    width : 15px;
    height : 15px;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='16' viewBox='0 0 15 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 10.5H10.5V12.1667H12V10.5ZM12 7.16667H10.5V8.83333H12V7.16667ZM13.5 13.8333H7.5V12.1667H9V10.5H7.5V8.83333H9V7.16667H7.5V5.5H13.5V13.8333ZM6 3.83333H4.5V2.16667H6V3.83333ZM6 7.16667H4.5V5.5H6V7.16667ZM6 10.5H4.5V8.83333H6V10.5ZM6 13.8333H4.5V12.1667H6V13.8333ZM3 3.83333H1.5V2.16667H3V3.83333ZM3 7.16667H1.5V5.5H3V7.16667ZM3 10.5H1.5V8.83333H3V10.5ZM3 13.8333H1.5V12.1667H3V13.8333ZM7.5 3.83333V0.5H0V15.5H15V3.83333H7.5Z' fill='%23323D45'/%3E%3C/svg%3E%0A");
}
.company-icon-white{
    display : inline-block;
    margin-right : 8px;
    width : 17px;
    height : 15px;
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.6666 10.5H11.9999V12.1667H13.6666V10.5ZM13.6666 7.16667H11.9999V8.83333H13.6666V7.16667ZM15.3333 13.8333H8.66659V12.1667H10.3333V10.5H8.66659V8.83333H10.3333V7.16667H8.66659V5.5H15.3333V13.8333ZM6.99992 3.83333H5.33325V2.16667H6.99992V3.83333ZM6.99992 7.16667H5.33325V5.5H6.99992V7.16667ZM6.99992 10.5H5.33325V8.83333H6.99992V10.5ZM6.99992 13.8333H5.33325V12.1667H6.99992V13.8333ZM3.66659 3.83333H1.99992V2.16667H3.66659V3.83333ZM3.66659 7.16667H1.99992V5.5H3.66659V7.16667ZM3.66659 10.5H1.99992V8.83333H3.66659V10.5ZM3.66659 13.8333H1.99992V12.1667H3.66659V13.8333ZM8.66659 3.83333V0.5H0.333252V15.5H16.9999V3.83333H8.66659Z' fill='white'/%3E%3C/svg%3E%0A");
}

/*sideBar END*/

/*PC & Mobile Common End*/

/*Mobile*/
@media screen and (max-width: 768px) {
    section {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .request-zone article {
        width: 100%;
    }

    header {
        justify-content: flex-start;
    }

    .header-left{
        display : flex;
        justify-content: flex-start;
        align-items: center;
    }

    .link-zone {
        display: none;
    }

    /*사이드바*/
    .toggleMenu {
        display: inline;
        width: 18px;
        height: 40px;
        border: none;
        outline: none;
        background: transparent;
        cursor: pointer;
        padding: 0px 10px 0px 0px;
        z-index: 1;
        margin-right: 19px;
        margin-left: 10px;
        transform: translateX(0px);
    }

    .toggleMenu .bar {
        display: block;
        width: 18px;
        height: 2px;
        background: #FFFFFF;
        border-radius: 1px;
    }
    .toggleMenu .bar:not(.toggleMenu .bar:nth-of-type(3)){
        margin-bottom : 6px;
    }


    .logo-area {
        display: flex;
        align-items: center;
        padding: 30px;
        border-bottom: 1px solid #E5E5E5;
    }

    .logo-area > h1 {
        display : inline-block;
        width :92px;
        height : 12px;
        background-image: url("../images/colorLogo.png");
        background-repeat: no-repeat;
    }

    .megaMenu {
        position: fixed;
        transform: translateX(-500px);
        -ms-transform: translateX(-500px);
        -o-transform: translateX(-500px);
        -webkit-transform: translateX(-500px);
        -moz-transform: translateX(-500px);
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        list-style-type: none;
        margin: 0;
        top: 0px;
        left: 0;
        width: 50%;
        height: 100%;
        z-index: 3;
        background: #FFFFFF;
    }

    .navWrap{
        display : inline-block;
        position: absolute;
        top: 0;
        left :0;
        bottom : 0;
        right : 0;
        width : 100%;
        height : 100%;
    }

    .navWrap.active{
        background-color:rgba(0, 0, 0, 0.8);
        z-index: 10;
    }

    .navWrap.active > .megaMenu {
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        display: block;
    }



    .mainTitle {
        text-decoration: none;
        list-style: none;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }

    .mainTitle > a{
        text-decoration: none;
        color : #000000;
    }

    .filter-zone{
        display :block;
    }
    .only-processing{
        margin-top : 20px;
    }

}

/*Mobile End*/